@use "../utils/variables" as var;

.footer {
  background-color: var.$blue;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 20px;

    @media (min-width: var.$desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-block: 30px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__description {
    font-size: 10px;
    color: var.$white;

    @media (min-width: var.$desktop) {
      max-width: 370px;
    }
  }

  &__menus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &__menus-list {
    display: flex;
    flex-direction: column;
  }

  &__menus-item {
    display: flex;
  }

  &__menus-link {
    font-size: 12px;
    font-weight: 700;
    color: var.$white;
    text-decoration: underline;
  }
}
