@use "../utils/variables" as var;

.header {
  background-color: var.$blue;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-block: 10px;
  }
}
