<a
  href="https://vr-velocity-test.myshopify.com/collections/shoes"
  style="font-size: 30px; font-weight: 700; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);"
>
  Shoes Collection
</a>
