// Typography
$montserrat: "Montserrat", Arial, sans-serif;

// Colours
$white: #FFFFFF;
$black: #000000;
$blue: #1E3563;
$green: #68DD7C;
$light-blue: #B2DAE0;
$light-pink: #FACDCE;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;

// Layout
$container: 1440px;
