@use "../utils/variables" as var;
@use "../utils/mixins" as mixin;

html {
  height: 100%;
}

body {
  font-family: var.$montserrat;
  color: var.$black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

// Visually Hidden for accessibility
.visually-hidden {
  @include mixin.visually-hidden;
}

.skip-content:not(:focus):not(:active) {
  @include mixin.visually-hidden;
}

// Buttons
button {
  @media (min-width: var.$desktop) {
    cursor: pointer;
  }
}

// Loading spinner
.icon-spinner {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
