@use "../utils/variables" as var;
@use "../utils/mixins" as mixin;

html {
  height: 100%;
}

body {
  font-family: var.$montserrat;
  color: var.$black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

.visually-hidden {
  @include mixin.visually-hidden;
}

.skip-content:not(:focus):not(:active) {
  @include mixin.visually-hidden;
}
